@charset "UTF-8";
@font-face {
  font-family: "titleFont";
  src: url("font/DiloWorld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "underTitleFont";
  src: url("font/Idealy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: #1e1e1e;
  color: #959595;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -30px;
}

input,
button {
  padding: 10px;
  margin: 10px;
  width: 80%;
  font-size: 22px;
  border: none;
  background: #333;
  color: #959595;
}

button:hover {
  cursor: pointer;
}

input {
  border-radius: 100px;
  z-index: 2;
  width: 780px;
  padding: 17px;
  background-color: #1e1e1e;
  border: #ffffff solid 2px;
  margin-top: 0px;
}

input:focus {
  outline: none;
  border: #ffffff solid 2px;
  box-shadow: none;
}

input::placeholder {
  font-family: "underTitleFont", sans-serif;
  font-size: 20px;
  color: #ffffff;
}

button {
  background-color: #1e1e1e;
}

pre {
  padding: 20px;
  white-space: pre-wrap;
  height: 150px;
  color: #ffffff;
  font-size: 22px;
  font-family: "underTitleFont", sans-serif;
  line-height: 30px;
  letter-spacing: 1px;
  border-radius: 8px;
}

h1 {
  font-size: 45px;
  font-family: "titleFont", sans-serif;
  margin: 0;
}

h2 {
  font-size: 30px;
  font-family: "underTitleFont", sans-serif;
  margin-top: 0px;
  margin-bottom: 0;
}

#weatherTemp {
  margin-top: 0;
  font-size: 50px;
}

#weatherState {
  margin-top: 0;
  font-size: 20px;
  display: flex;
  align-items: center;
  align-content: center;
}

#weatherState img {
  width: 85px;
}

h3 {
  margin: 0;
  font-family: "underTitleFont", sans-serif;
}

#avatarIcon {
  width: 250px;
  border-radius: 20px;
}

.titleSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#mainTitle {
  margin-left: 25px;
}

.hiddenTitle {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: transparent;
}

.hiddenTitle h3 {
  display: flex;
  align-items: center;
  height: 56px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.leftSection {
  width: 35%;
  display: flex;
}

.mainTextSection {
  width: 100%;
}

.rightSection {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}

.nameSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameSection,
.hiddenTitle {
  margin-top: 90px;
}

.meteoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.avatarSection {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 600px;
  z-index: -1;
  margin-top: -80px;
}
.avatarSection spline-viewer {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.avatarSection #blueMochi {
  transform: translate(-100px, 10px);
}

#appWrapper {
  width: 800px;
  height: 600px;
  position: relative;
  overflow: visible;
  background-color: transparent;
}

#timeDisplay {
  font-size: 55px;
  font-family: "titleFont", sans-serif;
}

.timer-wrapper {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.timer-ring {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg); /* démarre à 12h */
}

.progress-ring {
  transition: stroke-dashoffset 1s linear;
}

#timeDisplay {
  position: absolute;
  top: 80%;
  left: 47%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: "underTitleFont", sans-serif;
  font-weight: bold;
  color: #959595;
  cursor: pointer;
}

.chronoContainer {
  display: flex;
  flex-direction: row-reverse;
}

.timer-wrapper {
  width: 50%;
  margin-left: 50px;
}

.controls {
  width: 50%;
}

#taskDescription {
  width: 100%;
}

#companySelect {
  background-color: transparent;
  color: #ffffff;
  font-family: "titleFont", sans-serif;
  font-size: 55px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 5px;
  border: 0;
}

#saveBtn {
  position: absolute;
  border-radius: 100px;
  z-index: 2;
  width: 300px;
  padding: 17px;
  background-color: #1e1e1e;
  border: #ffffff solid 2px;
  margin-left: 700px;
  top: 5%;
  font-size: 22px;
  font-family: "underTitleFont", sans-serif;
  text-align: left;
  color: #ffffff;
}

#goToLogBtn {
  background-color: transparent;
  position: absolute;
  left: 790px;
  top: 130px;
  width: fit-content;
  height: fit-content;
  padding: 0;
}

@keyframes pulseBlink {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}
#timeDisplay.pulse {
  animation: pulseBlink 1s infinite ease-in-out;
}

#logView {
  width: 90%;
  text-align: center;
}

#logView input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#logView input[type=checkbox]:checked {
  background-color: #6385b7;
}

.log-title {
  color: #6385b7;
  font-family: "underTitleFont", sans-serif;
  font-size: 35px;
  margin-bottom: 20px;
}

.log-container {
  max-height: 450px;
  overflow-y: auto;
  padding: 10px;
  background: transparent;
  border-radius: 20px;
}

.log-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1e1e1e;
  border-radius: 250px;
  border: #959595 5px solid;
  padding: 12px 20px;
  margin-bottom: 10px;
  font-family: "Segoe UI", sans-serif;
  font-size: 0.9rem;
  color: #ffffff;
}

.log-task div {
  width: 80%;
  font-family: "underTitleFont", sans-serif;
  letter-spacing: 2px;
  font-size: 25px;
}

.log-task input[type=checkbox] {
  width: 200px;
  height: 100px;
}

.log-task input .log-checkbox {
  border-radius: 50px;
}

.log-task input .log-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.log-buttons button {
  font-size: 1.4rem;
  padding: 8px 18px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.log-buttons button img {
  width: fit-content;
  height: fit-content;
  margin-top: 10px;
}

.log-buttons {
  display: flex;
}

#backToChronoBtn {
  background: transparent;
}

#deleteSelectedBtn {
  background: transparent;
}

#btnAsk {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 453px;
  left: 89%;
  z-index: 3;
  background: transparent;
}

#btnAsk img {
  width: 25px;
  position: absolute;
}

.resultChrono {
  height: 100px;
  margin-bottom: 0;
  margin-left: 250px;
  padding-bottom: 0;
}

.chatChrono {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
}

#appWrapper > * {
  transition: all 0.2s ease-in-out;
}

#logView {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1e1e1e;
  width: 100%;
  height: 100%;
  padding: 30px;
  z-index: 10;
}

/*# sourceMappingURL=style.css.map */
